workflow.json
{
  "name": "SlideForge Contact Form to Presentation Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slideforge-contact-form",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5c0e82bb-1e24-47bd-9878-e5bbf30b5354",
      "name": "Website Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "slideforge-contact-form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json.body.topic || 'Digital Marketing Strategy for SaaS Startup' }}",
              "type": "string"
            },
            {
              "id": "template",
              "name": "template",
              "value": "={{ $json.body.template || 'Bold Blue' }}",
              "type": "string"
            },
            {
              "id": "slides",
              "name": "slides",
              "value": "={{ Number($json.body.slides || 10) }}",
              "type": "number"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "audience",
              "name": "audience",
              "value": "={{ $json.body.audience || 'B2B SaaS founders and growth teams' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4eca281c-50f4-49e0-943a-69e4f8dde5c1",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.35
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are SlideForge, an AI Presentation and Automation Architect. Return only strict JSON with keys topic, template, totalSlides, slides, markdown, htmlExportName, pptxExportName. Each slide object must include slideNumber, slideTitle, slideContent, slideVisualDescription, templateColorHex, and speakerNotes."
            },
            {
              "role": "user",
              "content": "Create a {{ $json.slides }}-slide presentation for topic: {{ $json.topic }}. Template: {{ $json.template }}. Audience: {{ $json.audience }}. Follow the required slide structure: title, agenda, content slides, data/chart slide, roadmap, and CTA. Use concise slide copy with no more than three bullets per slide."
            }
          ]
        }
      },
      "id": "29e79cd8-60c4-4f2e-8404-8ff3475d2cef",
      "name": "OpenAI Generate Slide JSON",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/slideforge/export/pptx",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { deck: $json, request: $('Normalize Request').item.json } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "presentation"
            }
          }
        }
      },
      "id": "6a4fe782-a0bc-4716-a4e9-d9d95d2bb5bb",
      "name": "Export PPTX via SlideForge API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize Request').item.json.email }}",
        "subject": "={{ 'Your SlideForge deck: ' + $('Normalize Request').item.json.topic }}",
        "message": "={{ 'Hi, your generated SlideForge presentation is attached. Topic: ' + $('Normalize Request').item.json.topic + '. Template: ' + $('Normalize Request').item.json.template + '.' }}",
        "attachments": "presentation",
        "options": {}
      },
      "id": "31c1c898-1031-4d4e-93d0-b6bd0975b40b",
      "name": "Email Presentation to Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'sent', email: $('Normalize Request').item.json.email, topic: $('Normalize Request').item.json.topic } }}",
        "options": {}
      },
      "id": "36c81523-52c5-4b2c-ac54-71b11a17b57a",
      "name": "Webhook Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        300
      ]
    }
  ],
  "connections": {
    "Website Contact Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "OpenAI Generate Slide JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Slide JSON": {
      "main": [
        [
          {
            "node": "Export PPTX via SlideForge API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export PPTX via SlideForge API": {
      "main": [
        [
          {
            "node": "Email Presentation to Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Presentation to Lead": {
      "main": [
        [
          {
            "node": "Webhook Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "slideforge"
    }
  ]
}
